# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3

# IDE
.vscode/
*.swp
.idea/
*.sublime-workspace
*.sublime-project

# Media files
holbydoc/static/user_pics/*
!holbydoc/static/user_pics/default.png
holbydoc/static/course_icons/*
holbydoc/static/lesson_thumbnails/*
holbydoc/static/media/*

# Logs
*.log
logs/
npm-debug.log*

# System files
.DS_Store
Thumbs.db
